body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 128px;
  line-height: 154.91px;
  display: inline;
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;
}

h3 {
  font-weight: 400;
  font-size: 38px;
  line-height: 45.99px;
  display: inline;
}

text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(74, 74, 74);
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-description {
  text-transform: capitalize;
}

.container {
  margin-top: 40px;
  max-width: 650px;
}

.card-body {
  padding: 30px 30px;
  margin: 0;
  min-height: 800px;
  border: solid #000 2px;
  background: radial-gradient(
    circle at center,
    rgb(255, 248, 150) 0%,
    #fbfbfb 60%
  );
  background-color: #fbfbfb;
  background-position: -114px -250px;
  background-repeat: no-repeat;
}

.prediction-container {
  margin: 110px 0 50px 0;
}

#city {
  margin-bottom: 85px;
}

.weather-description {
  margin: 22px 0 80px 0;
  display: flex;
}

.weather-details {
  position: relative;
  top: 50%;
  left: 10%;
}

.weather-description h3 {
  position: relative;
  top: 20%;
  left: 15%;
}

.line {
  padding: 4px;
  background-color: black;
  max-width: 100%;
}

.form-control {
  border: solid #000 2px;
  border-radius: 0;
  margin-right: 0;
  padding: 23px;
}

.btn-search {
  border: solid black 2px;
  background-color: #000;
  padding: 5px 20px;
  margin-left: 10px;
  color: #fff;
}

.btn-secondary {
  border: solid black 2px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  margin-left: 10px;
  color: rgb(0, 0, 0);
}

.btn-secondary:hover {
  border: solid black 2px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

div.col-2 {
  text-align: center;
}

.form-control:focus {
  outline: 5px solid #ffe96dcf;
  box-shadow: none;
}
